.Counter{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.Counter-in{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button{
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 12px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
  }
  div{
    margin-top: 25px;
    text-align: center;
    button{
      width: 150px;
      margin-top: 15px;
    }
  }
}
.Counter-num{
  h2{
    margin-top: 15px;
  }
}